<body class="main-body">
    <label class="def-text">Youtube Downloader</label>
    <input #urlInput class="url-input" type="text" placeholder="ex. https://www.youtube.com/watch?v=hEdV6MWq18I">
    <button class="load-button" (click)="clickForDownload(urlInput.value)">Load</button>
    <div *ngIf="videoInfo != undefined" class="secondary-body-1">
        <div class="video-info-detail">
            <label><strong>Video ID:</strong> {{videoInfo.videoId}}</label>
            <label><strong>Title:</strong> {{videoInfo.title}}</label>
            <label><strong>Author:</strong> {{videoInfo.author}}</label>
            <label><strong>Views:</strong> {{videoInfo.viewCount}}</label>
            <label><strong>Average Rating:</strong> {{videoInfo.averageRating}}</label>
        </div>
        <div class="video-download-buttons-div">
            <button class="video-download-buttons-prop" (click)="download(urlInput.value, 'audio')">Only sound</button>
            <button class="video-download-buttons-prop" (click)="download(urlInput.value, 'video')">Original Video</button>
            <button class="video-download-buttons-prop" (click)="download(urlInput.value, 'video-no-sound')">Video No Sound</button>
        </div>
    </div>
</body>