<body class="main-body">
    <label class="def-text"><strong>Youtube Downloader</strong></label>
    <input #urlInput class="url-input" type="text" placeholder="ex. https://www.youtube.com/watch?v=hEdV6MWq18I">
    <img src="assets/icons/icons8-submit-progress-64.png" (click)="clickForDownload(urlInput.value)" [ngClass]="getInfoIconStyle()">
    <div *ngIf="videoInfo != undefined" class="secondary-body-1">
        <div class="video-info-detail">
            <img class="thumbnail-img" [src]="getThumbnail()">
            <label><strong>Title:</strong> {{videoInfo.title}}</label>
            <label><strong>Duration:</strong> {{videoInfo.duration}}</label>
            <label><strong>Views:</strong> {{videoInfo.viewCount}}</label>
            <label><strong>Author:</strong> {{videoInfo.author}}</label>
            <label><strong>Average Rating:</strong> {{videoInfo.averageRating}}</label>
        </div>
        <div class="video-download-buttons-div">
            <label class="title-download-buttons"><strong>Download</strong></label>
            <button class="video-download-buttons-prop" (click)="download(urlInput.value, 'audio')" [disabled]="isDownloading">Only sound</button>
            <button class="video-download-buttons-prop" (click)="download(urlInput.value, 'video')" [disabled]="isDownloading">Original Video</button>
            <button class="video-download-buttons-prop" (click)="download(urlInput.value, 'video-no-sound')" [disabled]="isDownloading">Video Without Sound</button>
        </div>
    </div>
</body>
<img class="linkedin-icon" src="assets/icons/icons8-linkedin-96.png" (click)="goToLinkedin()">
<img class="github-icon" src="assets/icons/icons8-github-96.png" (click)="goToGithub()">
<ng-progress></ng-progress>