.main-body {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.secondary-body-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    gap: 24px;
}

.def-text {
    font-size: 48px;
}

.url-input {
    border-radius: 0.4rem;
    height: 30px;
    width: 500px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    color: cadetblue;
}

.download-options {
    display: flex;
    gap: 25px;
}

.video-download-buttons-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1%;
    border-style: solid;
    border-radius: 0.5rem;
    padding: 8px;
    border-color: rgba(100, 148, 237, 0.13);
    height: 100%;
}

.video-download-buttons-prop {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
.video-download-buttons-prop {
    padding: 12px 19px;
    text-align: center;
    // text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: azure;
    border: none;
    border-radius: 10px;
    display: block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 21px;
    font-weight: 600;
 }

 .video-download-buttons-prop:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   cursor: pointer;
 }

 .video-download-buttons-prop:disabled {
    color: rgba(255, 0, 157, 0.26);
    background-image: linear-gradient(to right, #49ca8e2a 0%, #96ded033  51%, #50c9c32c  100%)
  }


.video-info-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 15px;
    grid-gap: 15px;
    gap: 7px;
    font-size: 24px;
    align-content: center;
    width: 68%;
    margin-top: 1%;
    border-style: solid;
    border-radius: 0.5rem;
    padding: 8px;
    border-color: rgba(100, 148, 237, 0.13);
}

.title-download-buttons {
    font-size: 32px;
    align-self: center;
}

.thumbnail-img {
    align-self: center;
    border-radius: 10px;
    box-shadow: 0 0 8px cornflowerblue;
}

.linkedin-icon {
    position: absolute;
    top: 76%;
    right: 1.5%;
    cursor: pointer;
}

.github-icon {
    position: absolute;
    top: 88%;
    right: 1.5%;
    cursor: pointer;
}

.get-info-icon {
    cursor: pointer;
}

.get-info-icon-downloading {
    opacity: 0.5;
}