<body class="main-body">
    <label class="def-text">Youtube URL</label>
    <input class="url-input" type="text">
    <div class="download-options">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="" id="" value="checkedValue" checked>
            Audio
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
            Video
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
            No Sound Video
        </label>
    </div>
    <button class="download-button" (click)="download()">Download</button>
    <label *ngIf="res.length > 0">
        {{res}}
    </label>
</body>