@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

html {
    background-color: rgba(7, 22, 7, 0.89);
    color: rgb(137, 211, 0);
    font-family: 'Supermercado One', cursive;
}